    body {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        background-image: url("images/LineUp\ 4\ background.webp");

    }
    .wrapper {
        width: 33.75em;
        height: 38.5em;
        background-color:rgb(56, 56, 56);
        position: absolute;
        padding: 2em;
        transform: translateX(-50%);
        left: 50%;
        top: 1.25em;
        border-radius: 0.5em;
    }
    .container {
        margin: 1.25em auto;
        width: 33.75em;
        border-radius: 0.6em;
        overflow: hidden;
        background-color: #416cea;
    }
    #information {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
    .player-wrappers {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #ffffff;
    }
    .player1:before {
        content: "";
        display: inline-block;
        width: 3.12em;
        height: 3.12em;
        border-radius: 50%;
        background: radial-gradient(#4042de 1.12em, #1107d6 1.25em);
    }
    .player2:before {
        content: "";
        display: inline-block;
        width: 3.12em;
        height: 3.12em;
        border-radius: 50%;
        background: radial-gradient(#ba2410 1.12em, #930707 1.25em);
    }
    #playerTurn {
        margin: 1em 0;
        text-align: right;
        color: white;
    }
    #playerTurn span {
        font-weight: 600;
    }
    .startScreen {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100vw;
        background-image: url("images/LineUp\ 4\ background.webp");
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .startScreen button {
        background-color: #1cdc12;
        font-size: 1.4em;
        padding: 1em 2em;
        border: none;
        outline: none;
        border-radius: 2em;
        cursor: pointer;
    }
    .grid-row {
        margin: 0 auto;
        display: flex;
    }
    .grid-box {
        width: 5em;
        height: 5em;
        display: grid;
        place-items: center;
        background: radial-gradient(white 1.37em, #e3ea07 1.43em);
        cursor: pointer;
    }
    .hide {
        display: none;
    }
    #message {
        margin-bottom: 1em;
        color: #ffffff;
        font-size: 1.2em;
    }


    @media(max-width: 500px){
        .wrapper {
            width: 17.75em;
            height: 28.5em;
        }
        .container {
            margin: 1.25em auto;
            width: 17.75em;
            border-radius: 0.6em;
            overflow: hidden;
            background-color: #416cea;
        }

        .grid-box {
            width: 3em;
            height: 3em;
            display: grid;
            place-items: center;
            background: radial-gradient(white 0.9em, #e3ea07 0.68em);
            cursor: pointer;
        }

        .player1:before {
            content: "";
            display: inline-block;
            width: 2.12em;
            height: 2.12em;
            border-radius: 50%;
            background: radial-gradient(#4042de 0.6em, #1107d6 1.25em);
        }
        .player2:before {
            content: "";
            display: inline-block;
            width: 2.12em;
            height: 2.12em;
            border-radius: 50%;
            background: radial-gradient(#ba2410 0.5em, #930707 1.25em);
        }
    }
